*.DS_Store

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
xcuserdata/

## Build generated
build/
DerivedData/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
Pods/
Pods/Alamofire/
Pods/CountryPickerSwift/
Pods/Crashlytics/
Pods/CryptoSwift/
Pods/Fabric/
Pods/Firebase/
Pods/FirebaseCore/
Pods/FirebaseAnalytics/
Pods/FirebaseInstanceID/
Pods/FirebaseMessaging/
Pods/GoogleInterchangeUtilities/
Pods/GoogleSymbolUtilities/
Pods/GoogleToolboxForMac/
Pods/libPhoneNumber-iOS/
Pods/Realm/
Pods/RealmSwift/
Pods/RxSwift/
Pods/SwiftyJSON/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

.gitkeep
